<% provide :title, t(".home") %>
<h1> <%= t ".home_title" %> </h1>
<p>
  <%= t ".home_description_html_1" %> <%= link_to "Ruby on rails Tutorials", "https://www.railstutorial.org" %> <%= t ".home_description_html_2" %>
</p>
